{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% load account socialaccount %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3 class="text-center">Sign In</h3>
      <p class="text-center">Welcome back to The Groomer's Network.<br>
        Please login or <a class="link" href="{{ signup_url }}">sign up</a>
        to create an account.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">Sign In</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


