{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">Event: {{ event.title }}</h1>
                <h3 class="post-subtitle">Location: {{ event.location }} </h3>
                <h3 class="post-subtitle">Date: {{ event.date_time }}</h3>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in event.featured_image.url %}
                <img src="/static/images/labrador-in-the-bath.jpg" width="100%">
                {% else %}
                <img src=" {{ event.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ event.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'event_like' event.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="event_id" value="{{event.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="event_id" value="{{event.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <span class="text-secondary">{{ event.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}