{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid masthead">
    <div class="row">
        <div class="card masthead-text">
            <div class="card-body col-xl-5 offset-xl-3 col-md-8 offset-md-2">
                <h1 class="card-title mb-4">{{ event.title }}</h1>
                <p class="card-text masthead-subheading">{{ event.location }} </p>
                <p class="card-text masthead-subheading">{{ event.date_time }}</p>
            </div>
        </div>
    </div>
</div>

<div class="card col-xl-5 offset-xl-3 col-md-8 offset-md-2">
    <div class="card-img-top">
        {% if "placeholder" in event.featured_image.url %}
        <img class="card-img-top"
            href="{% static 'images/labrador-placeholder.png' %}" 
            alt="placeholder AI image of yellow labrador running with grey background">>
        {% else %}
        <img class="card-img-top" src=" {{ event.featured_image.url }}" alt="featured image">
        {% endif %}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ event.content | safe }}
        </p>
        <div class="row">
            <div class="col-2">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'event_like' event.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="event_id" value="{{event.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                        {% else %}
                        <button type="submit" name="event_id" value="{{event.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                <span class="text-secondary">{{ event.number_of_likes }} </span>
                </strong>
            </div>
        </div>
    </div>
</div>


{% endblock content %}