{% extends "base.html" %}

{% block content %}

<!-- Header -->
<header class="py-5 header-bg-img">
    <div class="container px-5 pb-5 ">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="fs-3 fw-light teal-text">Welcome to The Groomer's Network</div>
                    <h1 class="display-3 fw-bolder mb-5 grey-text"><span class="text-gradient d-inline">Professional Networking for Pet Groomers</span></h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder btn-signup"
                            href="{% url 'account_signup' %}">Join for free!</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary">
                        <img class="profile-img img-fluid hero-img-animation img22"
                            src="static/images/image-from-rawpixel-id-12054680-png.png"
                            alt="Image of happy labrador" width="380" height="580">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}