{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="profile-card">
                    <div class="text-center">
                        <h3 class="card-body teal-text">EDIT PROFILE</h3>
                    </div>
                    <div class=card-body>
                        <form method="post" class="mt-4">
                            {{ form | crispy }}
                            {% csrf_token %}
                            <div class="text-center">
                                <button type="submit" class="btn btn-signup my-4">Save Changes</button>
                                <a href="{% url 'my_profile' user=request.user  %}" class="post-link">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
