{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-7">
                <div class="profile-card" style="border-radius: 1rem;">
                    <div class="text-center">
                        <h1 class="card-body teal-text big-fa"><i class="fa-solid fa-user"></i></h1>
                    </div>
                    <div class=card-body>
                        <div class="text-center">
                            <h5 class="mb-2 teal-text">Username</h5>
                            <p>{{ request.user.username }}</p>
                            <h5 class="mb-2 teal-text">Full Name</h5>
                            <p>{{user_profile.full_name}}</p>
                            <h5 class="mb-2 teal-text">Company Name</h5>
                            <p>{{user_profile.company_name}}</p>
                            <h5 class="mb-2 teal-text">Location</h5>
                            <p>{{user_profile.location}}</p>
                            <h5 class="mb-2 teal-text">Bio</h5>
                            <p>{{user_profile.bio | safe }}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'my_profile_update'  user.profile.pk %}" class="btn btn-secondary mb-4">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

