{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="profile-card">
                    <div class="text-center">
                        <p class="card-body teal-text big-fa"><i class="fa-solid fa-user"></i></p>
                    </div>
                    <div class=card-body>
                        <div class="text-center">
                            <h5 class="mb-2 teal-text">Username</h5>
                            <p>{{ user_profile.user.username }}</p>
                            <h5 class="mb-2 teal-text">Full Name</h5>
                                {% if user_profile.full_name %}
                                    <p>{{ user_profile.full_name }}</p>
                                {% else %}
                                    <br>
                                {% endif %}
                            <h5 class="mb-2 teal-text">Company Name</h5>
                                {% if user_profile.company_name %}
                                    <p>{{ user_profile.company_name }}</p>
                                {% else %}
                                    <br>
                                {% endif %}
                            <h5 class="mb-2 teal-text">Location</h5>
                                {% if user_profile.location %}
                                    <p>{{ user_profile.location }}</p>
                                {% else %}
                                    <br>
                                {% endif %}
                            <h5 class="mb-2 teal-text">Bio</h5>
                                {% if user_profile.bio %}
                                    <p>{{ user_profile.bio | linebreaks | safe }}</p>
                                {% else %}
                                    <br>
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

